@page "/cacher/{key?}"
@model Cached.Demo.NetCore.Web.Pages.CacherModel

<!DOCTYPE html>
<html>
<head>
    <title>Cached demo - Cached values</title>
</head>
<body>

<h1>Cached demo - Cached values</h1>
<p>Cached value: @Model.CachedValue</p>
<p>Time taken: @Model.TimeConsumed</p>
</body>
</html>