@page
@model Cached.Demo.NetCore.Web.Pages.IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>Cached demo</title>
</head>
<body>

<h1>Cached demo</h1>
<p>
    <a href="/cacher/">Cacher demo</a>
</p>
<p>
    <a href="/function/">Cached function demo</a>
</p>
</body>
</html>