@page "/CachedFunction{key?}"

@model Cached.Demo.Net.Pages.CachedFunctionModel

<!DOCTYPE html>
<html>
<head>
    <title>Cached demo - Cached functions</title>
</head>
<body>

    <h1>Cached demo - Cached functions</h1>
    <p>Cached value: @Model.CachedValue</p>
    <p>Time taken: @Model.TimeConsumed</p>
</body>
</html>
