@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cached - Net 4.6.1 Demo</title>
</head>
<body>
    <h1>Cached - Net 4.6.1 Demo</h1>
    <div>
        Value: @ViewBag.Value
    </div>
</body>
</html>
